# OS
.AppleDouble/
*.DS_Store
Thumbs.db

# Package manager
vendor/
temp/

# Doc & log
out/
phpdoc/
coverage/
npm-debug.log

# webpack
*.map

# npm
node_modules/*
package-lock.json

# Mocha
!node_modules/mocha/
node_modules/mocha/*
!node_modules/mocha/mocha.css
!node_modules/mocha/mocha.js

# power-assert
!node_modules/power-assert/
node_modules/power-assert/*
!node_modules/power-assert/build/
node_modules/power-assert/build/*
!node_modules/power-assert/build/power-assert.js

# jQuery
!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/dist/
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js