@charset "utf-8";

#contents {
	position: relative;
}

/* for PC */
@media screen and (min-width:992px) {
	nav {
		position: absolute;
		box-sizing: border-box;
		padding: 0 15px;
		width: 34%;
		top: 0px;
		left: auto;
		right: auto;
		bottom: auto;
	}

	article {
		position: relative;
		box-sizing: border-box;
		padding: 0 15px;
		width: 66%;
		top: 0px;
		left: 34%;
		right: auto;
		bottom: auto;
	}
}

/* for Smart Phone */
@media screen and (max-width:991px) {
	nav {
		position: static;
		box-sizing: border-box;
		padding: 0 15px;
		width: 100%;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	}

	article {
		position: static;
		box-sizing: border-box;
		padding: 0 15px;
		width: 100%;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	}
}

body {
	-webkit-text-size-adjust: 100%;
}

footer {
	background: #eee;
}

footer div {
	padding: 16px 0px;
	text-align: right;
}

h6 {
	color: #777;
	font-size: 14px;
}

pre {
	font-size: 16px;
}

article form a.btn,
article form input,
article form button {
	margin-bottom: 4px;
}

.green { color: #5cb85c;}
.red { color: #d9534f;}

#jump_to_top {
	position: fixed;
	right: 16px;
	top: 16px;
}

.ac_container textarea {
	width: 480px;
	height: 180px;
}

.check_btn {
	margin-top: 8px;
}