*{
	font-family:"メイリオ", sans-serif;
}
.ac_container{
	margin:0.4em 0;
}
h4{
	margin-top:2em;
	border-top:2px solid #486;
	border-left:8px solid #486;
	padding:3px 6px;
	font-size:18px;
	font-weight:bold;
	color:#364;
}
h5{
	margin-top:2em;
	margin-bottom:0.5em;
	border-left:8px solid #666;
	padding:3px 6px;
	font-size:15px;
	font-weight:bold;
	color:#444;
}
p{
	font-size:15px;
	margin-top:0.5em;
	line-height:1.3em;
}
li{
	line-height:1.3em;
}
code{
	display:block;
	white-space:pre;
	padding:0px 8px;
	background:#555;
	color:#eee;
	font-size:15px;
	width:634px;
}
.result{
	margin-bottom:1em;
}
.green{
	color:#4fa;
}
.red{
	color:#f66;
}
.gray{
	color:#ccc;
}
.underline{
	padding-bottom:1px;
	border-bottom:1px dotted #4fa;
}
.bold{
	font-weight:bold;
}
.big_idx{
	margin-bottom:1em;
}
.top_navi{
	font-size:14px;
	text-align:right;
	padding-right:1em;
	margin:0.5em 0 0;
}
